{# templates/lucky_number.html.twig #}
{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="main">
<h1>About</h1>

<img src="./img/oops.webp" class="images">
<p class="important">
<br>
<a href="" class="links">Kursrepot på Github</a>
<br>
<a href="" class="links">Kursrepot på DBwebb</a>
<br>
<p class="important">
I kursen MVC lär vi oss om att programmera webapplikationer på ett objektorienterat sätt.
Namnet MVC kommer från det arkitekturella designmönstret MVC som kommer ligga i fokus igenom kursens gång.
Basen för kursen är ramverket Symfony vilket är ett av dom vanligaste ramverken i industrin för PHP.

</p>
</div>


{% endblock %}

