{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="main">
<h1>Home</h1>
<p class="important">

<img src="./img/kitty.jpg" width="450px" class="images">

<p class="important">Hej, Victor heter jag, 25 år gammal och är född i en liten by i norra skåne som heter Osby. 
Jag har beslutat detta året att det är dags att ta tag i studierna på riktigt och har på så 
sätt lyckats ta mig hela vägen till Karlskrona. Jag har varit intresserad av programmering 
sedan jag var ungefär 17-18 år något och är sedan innan smått bekant i att programmera. 
Andra intressen omfattar datorspel bland annat där jag lägger alldeles för mycket tid ibland, 
men är även intresserad i en del sport såsom tennis, basket och många andra.
</p>
</p>
</div>
{% endblock %}
