<div class="main">

<h2>Kmom01</h2>
<p class="important">
Mina förkunskaper när MVC börjar är något hyffsade. Jag har jobbat med objektorientering
i JS, Python och även lite grann i Java för många år sedan. Jag har lite koll på vad det innebär men 
är självklart ännu en nybörjare och har inte heller så mycket erfarenhet av att använda det i webben.
</p>

<p class="important">
För att skapa en klass i php behöver man först veta vad en klass ska bestå utav. En klass behöver innehålla metoder och properties.
En metod i en klass bestämmer vilka uppgifter ett objekt av en klass kan utföra. Till exempel skriva ut ett meddelande, returnera ett värde eller något i den stilen.
En property ger ett object ett "state" vilket innebär värdet av variabler i objektet vid exekvering. Ett objekt är kortfattat en instans av en klass vilket innebär att 
objektet har alla metoder och properties ifrån klassen utan att behöva ändra något i klassen själv.
</p>

<p class="important">
Strukturen i me/report sidan är väldigt lik den struktur vi har jobbat med en hel del förr. En del kurser har haft strukturen i mindre skala och i design är den ungefär på samma nivå 
kanske aningen mindre just nu. Till en början uppfattas den intimiderande men jag vet att när man är van så är strukturen i arbetet av stort värde inte minst för framtida jobb.
</p>

<p class="important">
Dokumentet är väldigt användbart för att förstå de delar som vi implementerat men kanske inte riktigt gått igenom så mycket. Till exempel dependencies och kodstruktur. 
Men cachning är något som jag inte har fördjupat mig i som jag tror om man inte får till det bra så får det stora negativa följder i dina webbapplikationer. Därför är det 
nog området jag tycker är högst uppe i listan på bra att kunna.
</p>

<p class="important">
Min TIL är att oavsett hur vilsen man är i sitt projekt i början så brukar det ordna upp sig. Det finns hundratals tips och manualer på webben som kommer väl till nytta. 
Viset vi jobbar på i MVC är ju inte främmande utan kommer ju utifrån och därför kan man alltid finna bra tips och information om man letar lite extra.
</p>
</div>